<?xml version="1.0" encoding="UTF-8"?>
<configuration status="varn">
	<appenders>
		<console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n" />
		</console>
		<RollingFile name="RollingFileInfo"
			fileName="${sys:user.home}/springBootTest/info/info.log"
			filePattern="${sys:user.home}/springBootTest/info/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log">
			<Filters>
				<ThresholdFilter level="INFO" />
				<ThresholdFilter level="WARN" onMatch="DENY"
					onMismatch="NEUTRAL" />
			</Filters>
			<PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
		</RollingFile>
		
		<RollingFile name="RollingFileWarn" fileName="${sys:user.home}/springBootTest/warn/warn.log"
                     filePattern="${sys:user.home}/springBootTest/warn/$${date:yyyy-MM}/warn-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="WARN"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
        
        <RollingFile name="RollingFileError" fileName="${sys:user.home}/springBootTest/error/error.log"
                     filePattern="${sys:user.home}/springBootTest/error/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="ERROR"/>
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
	</appenders>
	
	<loggers>
        <!--   过滤掉spring的一些无用的debug信息 -->
        <logger name="org.springframework" level="INFO" additivity="false"></logger>
        <logger name="org.mybatis" level="INFO" additivity="false"></logger>
        <logger name="org.apache" level="INFO" additivity="false"></logger>
        <logger name="httpclient" level="WARN"/>

        <logger name="com.google.code.yanf4j" level="INFO" additivity="false"></logger>
        <logger name="com.test.mapper" level="INFO" additivity="false"></logger>
        <logger name="net.rubyeye.xmemcached" level="INFO" additivity="false"></logger>
        <logger name="org.hibernate.validator" level="INFO" additivity="false"></logger>

        <root level="all">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFileInfo"/>
            <appender-ref ref="RollingFileWarn"/>
            <appender-ref ref="RollingFileError"/>
        </root>
    </loggers>
    
	
</configuration>