<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.RoleMapper">
	<resultMap type="com.test.pojo.Role" id="roleMap">
		<id property="rid" column="rid" />
		<result property="rname" column="rname" />
		<collection property="permissiones" ofType="com.test.pojo.Permission">
			<id column="pid" property="pid" />
			<result column="pname" property="pname" />
		</collection>
	</resultMap>
	<select id="getRoleList" resultMap="roleMap" parameterType="com.test.pojo.Role">
		select r.*, p.*
		from role r left join role_permission rp on r.rid
		=rp.rid
		left join permission p on p.pid=rp.pid
	</select>
	<select id="getRoleById" resultMap="roleMap" parameterType="com.test.pojo.Role">
		select r.*,p.*
		from role r,role_permission rp,permission p
		where r.rid=rp.rid
		and rp.pid=p.pid
		and r.rid=#{rid}
	</select>
	<delete id="delBefRp" parameterType="com.test.pojo.Role">
		delete from role_permission where rid=#{rid}
	</delete>
	<insert id="insRpTable">
		insert into role_permission (rid,pid) 
		values (#{rid},#{pid})
	</insert>
	<delete id="roleDel">
		delete from role where rid=#{rid}
	</delete>
	<select id="getRoleByName" parameterType="com.test.pojo.Role" resultType="com.test.pojo.Role">
		select * from role where rname=#{rname}
	</select>
	<insert id="addRoleAndGetRid"  parameterType="com.test.pojo.Role" keyProperty="rid" useGeneratedKeys="true">
		insert into role (rname) values(#{rname})
	</insert>
</mapper>
